.pageName{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    align-items: center;
    /*border: 1px solid black;*/
    padding: 1rem 0;
    color: var(--secondColor);
}
.profileInform{
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: var(--borderRadiusCustom);
    height: 180px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../../Assets/walp.jpg");
    background-size: cover;
    padding: 1rem;
}
.profileInform:after{
    background: rgba(0,0,0,1.2);
}

.profileInfoLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}
.profileInfoRight{
    width: 50%;
}

.userLogo{

    cursor: pointer;
    height: 150px;
    width: 150px;
    padding: 0 0 1rem 0;
    transition: ease-in-out 0.2s;
}
.userLogo:hover{
    transform: scale(1.05);
}
.userName{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 38px;
    margin: 1rem 0 0 0 ;
}
.userBirthday{
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
.userLocation{
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
.userEmail{
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
.userEmail a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
.userEmail a:hover{
    color: var(--generalColor);
}
.userSlogan{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-style: normal;
    font-size: 25px;
    font-weight: 700;
}
