.iconsHeader{
    display: flex;
}
.iconsHeaderItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--backgroundBox);
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0 1px;
    transition: ease-in 0.2s;

}
.iconsHeaderItem:hover{
    border: 1px solid var(--backgroundColor);
}
.verticalLine{
    border-right: 3px solid rgba(128, 128, 128, 0.2);
    width: 1rem;
    height: 3rem;
    margin: 0 1.5rem 0 0;

}
.ProfileLogoHeader{
    justify-content: flex-start;
    height: 3rem;
    width: 3rem;
    border-radius: 5rem;
    cursor: pointer;
    background-color: var(--backgroundColor);
}