.boxPosts{

    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    margin: 1rem 0 0 0;
}
.boxPostsTitle{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.createPostBox{
    width: 40%;
    color: var(--secondColor);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
}
.myPostsBox{
    width: 60%;
    max-width: 60%;
    padding: 0 0 0 1rem;
    color: var(--secondColor);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
}

.textareaAddPost {
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    border: 4px solid var(--generalColor);
    color: black;
    padding: 1rem;
    height: 200px;
    font-weight: 500;
    font-size: 25px;
    outline: none;
    resize: none;
}
.textareaAddPost::placeholder {
    color: var(--generalColor);
}
.createPost{
    display: flex;
    flex-direction: column;
}
.addPostButton{
    border: 4px solid var(--generalColor);
    border-radius: var(--borderRadiusCustom);
    background-color: white;
    cursor: pointer;
    color: var(--generalColor);
    font-weight: 700;
    font-size: 20px;
    margin: 0.5rem 0 0 0;
    padding: 0.8rem;
    transition: 0.2s;
}
.addPostButton:hover{
    background-color: var(--generalColor);
    color: white;
}

.myPosts{
    margin: 0 ;
}
.createPostTitle, .myPostsTitle{
    margin: 0 0 1rem 0;
}
