
.backImg{
    width: 100%;
    height: 10em;
    background-image: url(https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .mainProfile{
    display: flex;
    justify-content: start;
  }
  
  .avatar{
    background-image: url(https://cdn-icons-png.flaticon.com/512/147/147144.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 0 40px 20px 0;
  }
  .profileMain{
    width: 100%;
  } 
  

