.headerMenu{
    display: flex;
}
.menuItem{
    margin: 0 0.5rem;
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}
.menuItem:hover{
    color: var(--generalColor);
    text-decoration: 3px underline;
}