/* POSTS */
.myPosts{
    /*border: 1px solid black;*/
    margin: 2rem 0 0 0;
}
.headerPosts{
    font-size: 1.5rem;
    font-weight: 600;
}
.textAreaSendPost{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 80px;
    resize: none;
    margin: 1rem 0 1rem 0;
    border: none;
    outline: none !important;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;

}
::-webkit-input-placeholder {color: #a5a5a5;}
::-moz-placeholder          {color:#a5a5a5;}/* Firefox 19+ */
:-moz-placeholder           {color:#a5a5a5;}/* Firefox 18- */
:-ms-input-placeholder      {color:#a5a5a5;}

.btnSendPost{
    border: 2px solid var(--back-white);
    color: #242424;
    border-radius: 7px;
    width: 6rem;
    height: 2.2rem;
    cursor: pointer;
    background-color: white;
    font-weight: 300;
    font-size: 1rem;
    transition: all 0.2s;
}
.btnSendPost:hover{
    background-color: #63ae75;
    border: 2px solid #63ae75;
    color: white;
}
