.pageName {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    align-items: center;
    /*border: 1px solid black;*/
    padding: 1rem 0;
    color: var(--secondColor);
}

.profileInform {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border-radius: var(--borderRadiusCustom);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/walp.jpg");
    background-size: cover;
    padding: 2rem;
    height: 400px;
}

.profileInform:after {
    background: rgba(0, 0, 0, 1.2);
}
.containerText {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
}

.profileInfoLeft {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 50%;
}

.profileInfoRight {
    font-size: 20px;
    color: white;
    width: 50%;
}

.userLogo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    height: 200px;
    width: 200px;
    padding: 10px 30px 10px 10px;
    transition: ease-in-out 0.2s;
}

.avatarUser {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.changePhotoTitle input {
    height: 40px;
}

.profileInfoTextBox {
    padding: 10px 0 10px 0;
}

.userName {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 38px;
    margin: 0;
}

.userAboutMe {

    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
}

.editStatusInput {
    font-size: 20px;
    padding: 10px;
    height: 40px;
    width: 400px;
}

.userLocation {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
}

.lookingForAJob {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

.userWebsite {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.userWebsite a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.userWebsite a:hover {
    color: var(--generalColor);
}

.userSlogan {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
}

.editStatusInput {
    outline: none;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    height: 40px;
    width: 90%;
    border-radius: var(--borderRadiusCustom);
    border: 2px solid var(--generalColor);
    color: var(--generalColor);
}

.setStatusButton {
    float: right;
    font-size: 20px;
    font-weight: 700;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: var(--borderRadiusCustom);
    border: 2px solid var(--generalColor);
    color: var(--generalColor);
    transition: 0.2s;
}

.setStatusButton:hover {
    background-color: var(--generalColor);
    color: white;
}


/* input__wrapper*/

.input__wrapper {
    position: relative;
    margin: 5px 0;
    text-align: center;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file_button_text {
    line-height: 1;
    margin-top: 1px;
}

.input__file_button {
    display: flex;
    width: 200px;
    height: 30px;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: center;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: var(--borderRadiusCustom);
    border: 2px solid var(--generalColor);
    color: var(--generalColor);
    transition: 0.2s;
}

.input__file_button:hover {
    background-color: var(--generalColor);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}