.cardUser {
    background: var(--backgroundBox);
    box-shadow: var(--shadow);
    border-radius: var(--borderRadiusCustom);
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 0.5rem 0;
    padding: 0.5rem;
    /*cursor: pointer;*/
    width: 100%;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}
.cardUser:hover{
    transform: scale(1.01);
}
.userLogo{
    width: 80px;
    height: 80px;
    border-radius: var(--borderRadiusCustom);
}
.userLogoAvatar {
    width: 80px;
    height: 80px;
    border-radius: var(--borderRadiusCustom);
}
.userInformText{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.userName{
    color: var(--secondColor);
}
.userCountry{
    color: var(--grayColor);
}
.userPhrase{
    font-weight: 800;
    color: var(--secondColor);
}
.userInformText2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.followButton_TRUE {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    margin: 0 0 0 20px;
    border-radius: var(--borderRadiusCustom);
    border: 2px solid var(--generalColor);
    font-size: 1.5em;
    font-weight: 600;
    color: var(--generalColor);
}
.followButton_FALSE {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    margin: 0 0 0 20px;
    border-radius: var(--borderRadiusCustom);
    border: 2px solid var(--generalColor);
    background-color: var(--generalColor);
    font-size: 1.5em;
    font-weight: 600;
    color: white;
}