.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 0 0;
    padding: 1.5rem;
    border-radius: var(--borderRadiusCustom);
    background-color: var(--backgroundBox);
    box-shadow: var(--boxShadowCustom);
    /*border: 1px solid black;*/
}