.pageName {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    align-items: center;
    /*border: 1px solid black;*/
    padding: 1rem 0;
    color: var(--secondColor);
}

.homeMain {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid red;
    border-radius: var(--borderRadiusCustom);
    height: 220px;
    background-size: cover;
    padding: 1rem;
}