.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    max-height: 2.5rem;
    padding: 1.5rem;
    border-radius: var(--borderRadiusCustom);
    background-color: var(--backgroundBox);
    box-shadow: 2px 2px 10px 1px rgb(212, 212, 212);
    /*border: 1px solid black;*/
}