.pageName {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    color: var(--secondColor);
}

.mainUsers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 50px 0 0 0;
}

.showMoreButton {
    border: 2px solid var(--generalColor);
    border-radius: var(--borderRadiusCustom);
    background-color: white;
    cursor: pointer;
    color: var(--generalColor);
    font-weight: 700;
    font-size: 20px;
    margin: 0.5rem 0 0 0;
    padding: 0.8rem;
    transition: 0.2s;
}

.showMoreButton:hover {
    background-color: var(--generalColor);
    color: white;
}

.pageNumberButton {
    cursor: pointer;

    padding: 0.5rem 0.8rem;
    margin: 0 0.5em 1rem 0;

    border-radius: var(--borderRadiusCustom);
    border: 2px solid var(--generalColor);
    color: var(--generalColor);
    font-weight: 800;
    transition: 0.2s;
}

.pageNumberButton:hover {
    color: white;
    background-color: var(--generalColor);
}

.pageNumberButton_active {
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    margin: 0 0.5em 1rem 0;

    border-radius: var(--borderRadiusCustom);
    border: 2px solid var(--generalColor);
    color: white;
    background-color: var(--generalColor);
    font-weight: 800;
    transition: 0.2s;
}