/* CUSTOM COLORS */
:root {
    --light-blue: #085BFD;
    --dark-blue: #0F1E7E;
    --light-red: #e72f11;
    --gray: #676D7C;
    --back-white: #acd5f5;
    --back-black: #111518;
    --back-box-white: #e7eefc;
    --link: #dd9316;
}


/* ========= ALL APP ========= */

body {
    background-color: var(--back-white);
}

a{
    color: var(--link);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}