/* CUSTOM COLORS */
:root {
    --borderRadiusCustom: 1.2rem;
    --backgroundColor: #DBDEE6;
    --backgroundBox: #F3F5F7;
    --backgroundCard: white;
    --generalColor: #63A4DC;
    --colorText: black;
    --boxShadowCustom: 2px 2px 10px 1px rgba(213, 213, 213, 0.7);
}

/* ====== @media ======*/
/*@media (max-width: 1199px) {*/
/*    .App {*/
/*        width: 70%;*/
/*        margin: auto;*/
/*    }*/
/*}*/
/* ========= ALL APP ========= */
h1,h2,h3,h4,h5,h6, p {
    margin: 0;
    padding: 0;
}

body {

    padding: 2rem;
    background-color: var(--backgroundColor);
}

.App {
    /*width: 90%;*/
    margin: auto;
    /*border: 1px solid green;*/

}